In [5]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\smhrd\anaconda3\lib\site-packages (1.1.1)

In [23]:
import pymysql # DB 연결
from io import BytesIO  # 메모리 버퍼를 사용하기 위한 모듈
from wordcloud import WordCloud  # 워드클라우드 생성 라이브러리
from typing import List # 리스트 타이핑
import base64  # 바이너리 데이터를 base64 문자열로 인코딩하는 모듈
import pandas as pd 

# DB 연결 설정
conn = pymysql.connect(
    host='project-db-cgi.smhrd.com',
    port=3307,
    user='CGI_25IS_LI_P2_3',
    password='smhrd3',
    db='CGI_25IS_LI_P2_3',
    charset='utf8mb4'
)

In [35]:
# 쿼리 작성
query = """
                SELECT
                    f.feed_idx,
                    f.feed_likes,
                    r.res_tag,
                    f.feed_content
                FROM
                    t_feed f
                LEFT JOIN
                    t_restaurant r ON r.res_idx = f.res_idx
                """

# 쿼리 실행 후 데이터프레임으로 변환
df = pd.read_sql(query, conn)

C:\Users\smhrd\AppData\Local\Temp\ipykernel_13656\2187754842.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql:
                SELECT
                    f.feed_idx,
                    f.feed_likes,
                    r.res_tag,
                    f.feed_content
                FROM
                    t_feed f
                LEFT JOIN
                    t_restaurant r ON r.res_idx = f.res_idx

(2013, 'Lost connection to MySQL server during query')
unable to rollback

In [37]:
df

,feed_idx,feed_likes,res_tag,feed_content
0,46,3,바비큐 불고기 파이,버거킹 광주봉선점ㄹㅇㅎ
1,51,1,파이 라멘,쿠로시로
2,56,0,바비큐 불고기 파이,버거킹 전남대후문점
3,57,0,냉면 삼겹살 목살 회,목구멍 광주ㅁ충장점
4,58,0,청국장 쌈밥 토종닭 회,뜨락의아침ㅁ
...,...,...,...,...
104,301,0,파이 불고기 햄버거 커피 아메리카노,맛집\r\n#맥도날드 전남대DT점
105,302,0,마라탕 마라샹궈 볶음밥,ㅁㄴㅇㄹ\r\n#마라미녀 전대점
106,303,0,마라탕 마라샹궈 볶음밥 파이,맛집입니다\r\n#소림마라 광주동구점
107,304,0,마라탕 홍차 마라샹궈,asfdasdf\r\n#이런이궈마라탕 진월점
108,306,2,태그없음,맛있는 거 먹고 싶당\r\n#500도참숯불맛삼겹살 신안동점

In [39]:
def text_to_base64_wordcloud(text: str) -> str:
    # 입력받은 텍스트로 워드클라우드 이미지를 생성하여
    # PNG 포맷으로 메모리 버퍼에 저장한 후
    # Base64 문자열로 변환해 반환하는 함수

    print("=== text_to_base64_wordcloud 함수 실행 ===")
    
    wc = WordCloud(
        width=400, height=400, background_color="white", 
        font_path="malgun.ttf"  # 한글 폰트 경로
    )
    
    wc.generate(text)  # 워드클라우드 이미지 생성

    buffer = BytesIO()  # 메모리 버퍼 생성
    wc.to_image().save(buffer, format="PNG")  # 워드클라우드 이미지를 PNG로 버퍼에 저장

    img_str = base64.b64encode(buffer.getvalue()).decode()  
    # 버퍼의 바이너리 데이터를 base64 문자열로 인코딩 후 디코딩하여 str로 변환

    print("=== text_to_base64_wordcloud 함수 종료 ===")
    
    return img_str  # Base64로 인코딩된 워드클라우드 이미지 문자열 반환

In [41]:
def make_wordclouds(review_list: List[Review]) -> Wordcloud:

    print("=== make_wordclouds 함수 실행 ===")

    print("=== make_wordclouds 함수 종료 ===")    
    
    return Wordcloud(
        NkPositiveWC=text_to_base64_wordcloud(), # 여기에 워드클라우드 이미지 문자열 넣을 것
        NkNegativeWC=text_to_base64_wordcloud(),
        WgnPositiveWC=text_to_base64_wordcloud(),
        WgnNegativeWC=text_to_base64_wordcloud(),
    )