In [5]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\smhrd\anaconda3\lib\site-packages (1.1.1)

In [7]:
import pymysql
import pandas as pd

# DB 연결 설정
conn = pymysql.connect(
    host='project-db-cgi.smhrd.com',
    port=3307,
    user='CGI_25IS_LI_P2_3',
    password='smhrd3',
    db='CGI_25IS_LI_P2_3',
    charset='utf8mb4'
)

In [11]:
# 쿼리 작성
query =query = """
                SELECT
                    f.feed_idx,
                    f.feed_likes,
                    r.res_tag,
                    f.feed_content
                FROM
                    t_feed f
                LEFT JOIN
                    t_restaurant r ON r.res_idx = f.res_idx
                WHERE
                    f.mb_id != %s;
                """

# 쿼리 실행 후 데이터프레임으로 변환
df = pd.read_sql(query, conn)

C:\Users\smhrd\AppData\Local\Temp\ipykernel_13656\1464918824.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [15]:
df

,mb_id,mb_pw,mb_name,mb_nick,joined_at,mb_img,mb_intro
0,hahahaha,qwer1234,김동언,임혜림,2025-08-07 18:23:13,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개를 입력할 수 있습니다.
1,hyereams,12345678,임혜림,혜림쓰,2025-08-07 17:18:44,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개를 입력할 수 있습니다.
2,hyereams2,12345678,임혜림,혜림쓰2,2025-08-07 17:34:15,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개를 입력할 수 있습니다.
3,kakao12345,kakao12345,이동균,KAKAO,2025-08-05 15:45:48,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개를 입력할 수 있습니다.
4,naver12345,naver12345,이동균,NAVER,2025-08-05 15:45:15,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개를 입력할 수 있습니다.
5,popo6866,qwer1234,이동균,카리나,2025-08-04 08:43:01,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개를 입력할 수 있습니다.
6,test1111,test1111,김이담,김이담1,2025-08-07 09:38:21,https://res.cloudinary.com/duyrajdqg/image/upl...,테스트계정 1
7,test3333,test3333,김이담,김이담,2025-08-04 10:12:09,https://res.cloudinary.com/duyrajdqg/image/upl...,이 세상에 마싯는게 너무 만타
8,test4444,test4444,김이담,김사담,2025-08-07 09:39:20,https://res.cloudinary.com/duyrajdqg/image/upl...,테스트계정 4
9,testuser1,test1234,테스트유저,닉네임1,2025-08-06 14:48:33,https://res.cloudinary.com/duyrajdqg/image/upl...,자기소개1